<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Upload Image</h1>
<form id="form" method="post">
    <input type="file" name="img" id="img">
    <button type="submit">Submit</button>
</form>

</body>
<script>
    const form = document.getElementById('form')
    form.addEventListener("submit", (e) => {
        e.preventDefault()
        const formData = new FormData(form)
        fetch('/upload', {
            method: 'POST',
            body: formData
        }).then(res => res.blob()).then(res => {
            let img = document.createElement('img')
            img.src = URL.createObjectURL(res)
            document.body.appendChild(img)
            img.style.width = '50%'
            const btn = document.createElement('button')
            btn.type = 'button'
            btn.textContent = 'reverse color'
            btn.addEventListener('click', () => {
                fetch('/reverse-color',{
                    method: 'POST',
                }).then(res => res.blob()).then(res => {
                    img.src = URL.createObjectURL(res)
                })
            })
            document.body.appendChild(btn)
        })
    })
</script>
</html>